version: "3.8"

services:
    train:
        build: .
        container_name: trash-ai-trainer
        volumes:
            - ./models:/app/models
            - ./data:/app/data
            - ./src:/app/src
        command: python src/train.py

    evaluate:
        build: .
        container_name: trash-ai-evaluator
        volumes:
            - ./models:/app/models
            - ./data:/app/data
            - ./src:/app/src
        command: python src/evaluate.py

    export:
        build: .
        container_name: trash-ai-exporter
        volumes:
            - ./models:/app/models
            - ./src:/app/src
        command: python src/export_savedmodel.py

    web:
        build:
            context: .
            dockerfile: web/Dockerfile
        container_name: trash-ai-web
        ports:
            - "3000:3000"
        volumes:
            - ./models:/app/models
            - ./src:/app/src
            - ./web:/app/web
        command: node web/server.js
