services:
    train:
        build: .
        container_name: trash-ai-trainer
        volumes:
            - ./models:/app/models
            - ./data:/app/data
            - ./src:/app/src
        command: python src/train.py

    evaluate:
        build: .
        container_name: trash-ai-evaluator
        volumes:
            - ./models:/app/models
            - ./data:/app/data
            - ./src:/app/src
        command: python src/evaluate.py

    web:
        build:
            context: .
            dockerfile: web/Dockerfile
        container_name: trash-ai-web
        ports:
            - "3000:3000"
        volumes:
            - ./models:/app/models
            - ./src:/app/src
            - ./web/public:/app/web/public
        command: python src/server.py
